<section class="fourteen columns">
    <h1>Professional Experience</h1>
    <article>
        <header>
            <h1><address>Staff Assistant II</address><time>Admissions & Records</time></h1>
	    <span><address><address>Valencia College</address> <time>Orlando, FL</time></address><time>May 2015 to Present</time></span>
        </header>
        <p>
          <ul> 
            <li>Provide all administrative support to the Director of Admissions to include maintaining the calendar, preparing official 
            correspondence, managing incoming and outgoing main, assisting with office supply purchases, ad managing travel claims</li>
            <li>Troubleshoot student issues on behalf of Director of Admissions</li>
            <li>Review and process Refund Requests submitted by students through Dynamic Forms</li>
            <li>Evaluate transcripts by researching high school integrity, retrieving data from BDMS and applying to student record</li>
            <li>Process and document subpoena requests in accordance with FERPA standards and General Counsel procedures</li>
            <li><span><address>Additional office engagement &mdash;</address></span><ul class="circle"><li class="extra">Serve as facilitator for New Student Organization. 
                This required 12 hours of training before I was able to serve as a lead facilitator. Sessions may include as many as 100 participants.</li></ul></li>
          </ul>
        </p>
    </article>
    <article>
        <header>
            <h1><address>Student Services Advisor</address><time>Answer Center</time></h1>
	    <span><address><address>Valencia College</address> <time>Orlando, FL</time></address><time>December 2014 to May 2015</time></span>
        </header>

        <p>
          <ul> 
            <li>Applied and explained  Valencia College policies and procedures to diverse population of students  and their unique 
            situations</li>
            <li>Received and verified the integrity of Florida Residency information, transcripts, and Financial Aid documentation</li>
            <li>Researched  financial assistance information including Federal Financial Aid application procedures, financial aid award 
            status, outstanding documentation, and scholarship information</li>
            <li>Determined students’ educational need for support services and refer accordingly to academic departments including, but 
            not limited to:  Office for  Students  with Disabilities,  Academic  Counseling services, Career Center,  and the  Veterans’ 
            Affairs Office</li>
            <li>Performed academic advising regarding program requirements and university transfer processes</li>
          </ul>
        </p>

    </article>
    <article>
        <header>
            <h1><address>Policy Typist</address><time>Policy Issuance</time></h1>
	    <span><address><address>Southern Cross Underwriters</address> <time>Sumter, SC</time></address><time>July 2013 to October 2014</time></span>
        </header>
        <p>
          <ul> 
            <li>Analyzed confidential information to type and issue insurance policies using ImageRight and Docucorp databases</li>
            <li>Communicated with insurance agents to send completed insurance policies using Microsoft Outlook</li>
          </ul>
        </p>

    </article>
    <article>
        <header>
            <h1><address>Staff Assistant II</address><time>Student Services</time></h1>
	    <span><address><address>Valencia College</address> <time>Orlando, FL</time></address><time>October 2011 to May 2013</time></span>
        </header>

        <p>
          <ul> 
            <li>East campus Student Services office lead</li>
            <li>Participated in program advancement and implementation for student affairs programs, such as Peer Educators, to support 
            student learning and development</li>
            <li>Assessed  student needs on a  high traffic  walk-in basis regarding classes, registration,  assessment scores/placement, 
            orientation, and requests to meet with the Dean of Students</li>
            <li>Organized and typed a broad range of documents and reports including travel paperwork under minimal supervision</li>
          </ul>
        </p>

    </article>
</section>
