<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1><address>Staff Assistant II</address><time>Admissions & Records</time></h1>
	    <span><address><address>Valencia College</address> <time>Orlando, FL</time></address><time>May 2015 to Present</time></span>
        </header>
        <p>Lorem ipsum dolor sit amet, his et viris petentium philosophia,
            at vix debitis deleniti. At vis velit volumus alienum, agam vocent assueverit usu ex. </p>
    </article>
    <article>
        <header>
            <h1><address>Student Services Advisor</address><time>Answer Center</time></h1>
	    <span><address><address>Valencia College</address> <time>Orlando, FL</time></address><time>December 2014 to May 2015</time></span>
        </header>
        <p>Qui bonorum menandri intellegebat ex, mel quando oblique an. Et eam virtute debitis philosophia,
            unum ancillae disputationi vim in. Ipsum vidisse meliore ex eum,
            delectus tacimates conclusionemque has ei. Eam ubique cetero scribentur ne.</p>
    </article>
    <article>
        <header>
            <h1><address>Policy Typist</address><time>Policy Issuance</time></h1>
	    <span><address><address>Southern Cross Underwriters</address> <time>Sumter, SC</time></address><time>July 2013 to October 2014</time></span>
        </header>
        <p>Latine bonorum deserunt at nam. Mea nisl officiis eu, propriae similique has te, mei an brute meliore electram.
            Quo admodum omittantur ei, etiam principes at eos. Sit vocent commodo ceteros in, at mel idque everti.</p>
    </article>
    <article>
        <header>
            <h1><address>Staff Assistant II</address><time>Student Services</time></h1>
	    <span><address><address>Valencia College</address> <time>Orlando, FL</time></address><time>October 2011 to May 2013</time></span>
        </header>
        <p>Lorem ipsum dolor sit amet, his et viris petentium philosophia,
            at vix debitis deleniti. At vis velit volumus alienum, agam vocent assueverit usu ex. </p>
    </article>
</section>
