<nav class="navbar navbar-default">
  <div class="container">
    {% if page.url == "alaniahodge.com" %}

    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.url }}"><i class="fa fa-home"></i></a>
    </div>

    {% else %}

    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.baseurl }}"><i class="fa fa-home"></i></a>
    </div>

    {% endif %}

    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}learning.html">Learning Support Services</a></li>
        <li><a href="{{ site.baseurl }}studyskills.html">Successful Study Skills</a></li>
        <li><a href="{{ site.baseurl }}strengths.html">StrengthsQuest</a></li>
        <li><a href="{{ site.baseurl }}resume.html">Résumé</a></li>
      </ul>
    </div>
  </div>
</nav>
