<section class="thirteen columns">
    <h1>PROFILE</h1>
    <article>

      <ul>
	    <li>Committed to achieving results with various levels of autonomy</li>
	    <li>Focused and hardworking with an up-beat disposition and a strong ability to communivate effectively with others</li>
	    <li>Ability to prioritize multiple tasks, dedicated to follow-through of projects in a timely manner, and taking ownership of responsibilities</li>
	    <li>Capability to work in a dynamic, fast-paced and energetic work environment coupled with flexibility, creaitivity, calculated risk-taking, innovative thinking, 
	    and capacity to capitalize teachable moments</li>
	    <li>Perform with integrity, accountability, and tenacity to successfully assist students</li>
	    <li>Visionary with versatile leadership abilities dedicated to creating and maintaining relationships throughout Valencia College</li>
	    <li>Skilled at delivering information to both small and large sized audiences, adjusting to audience attention span, and developing rapport with attendees</li>
	    <li>Proficient in BANNER, Dynamic Forms, Who's Next, Microsoft Office, BDMS, Document Manager, and Image Capture</li>
      </ul>
      
    </article>
</section>
