<section class="thirteen columns">
    <center>
    <h1>StrengthsQuests</h1>

    <article>
        <header>
            <h1>Harmony</h1>
	    <!--<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>-->
        </header>
        <p>
	    People especially talented in the Harmony theme look for consensus.<br>They don't enjoy conflict;
	    rather, they seek areas of agreement.
        </p>
    </article>
    <article>
        <header>
            <h1>Connectedness</h1>


        </header>
        <p>
	    People especially talented in the Connectedness theme have faith <br>in the links between all
	    things. They believe there are few coincidences<br> and that almost every event has a reason
        </p>
    </article>
    <article>
        <header>
            <h1>Includer</h1>


        </header>
        <p>
	    People especially talented in the Includer theme are accepting of others.<br>They show
	    awareness of those who feel left out, and make an effort to include them.
        </p>
    </article>

    <article>
        <header>
            <h1>Input</h1>

        </header>
        <p>
	    People especially talented in the Input theme have a need to collect and archive.<br> They
	    may collect information, ideas, history, or even relationships. 
        </p>
    </article>

    <article>
        <header>
            <h1>Responsibility</h1>

        </header>
        <p>
	    People especially talented in the Responsibility theme take psychological ownership<br>
	    of what they say they will do. They are committed to stable values such as honesty
	    and loyalty
        </p>
    </article>


    </center>
</section>
